[submodule "External/Alamofire"]
	path = External/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "External/JSONHelper"]
	path = External/JSONHelper
	url = https://github.com/isair/JSONHelper.git
[submodule "External/Starscream"]
	path = External/Starscream
	url = https://github.com/daltoniam/Starscream.git
